<a href="https://colab.research.google.com/github/haithemml/Machine-Learning-with-Python/blob/master/Untitled77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
train_df = pd.read_csv('drive/MyDrive/mobile prediction/train.csv')
test_df = pd.read_csv('drive/MyDrive/mobile prediction/test.csv')

In [4]:
train_df.shape, test_df.shape

((2000, 21), (1000, 21))

In [5]:
train_df.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [6]:
test_df.head()

   id  battery_power  blue  clock_speed  ...  talk_time  three_g  touch_screen  wifi
0   1           1043     1          1.8  ...          2        0             1     0
1   2            841     1          0.5  ...          7        1             0     0
2   3           1807     1          2.8  ...         10        0             1     1
3   4           1546     0          0.5  ...          7        1             1     0
4   5           1434     0          1.4  ...          7        1             0     1

[5 rows x 21 columns]

In [7]:
train_df.count()

battery_power    2000
blue             2000
clock_speed      2000
dual_sim         2000
fc               2000
four_g           2000
int_memory       2000
m_dep            2000
mobile_wt        2000
n_cores          2000
pc               2000
px_height        2000
px_width         2000
ram              2000
sc_h             2000
sc_w             2000
talk_time        2000
three_g          2000
touch_screen     2000
wifi             2000
price_range      2000
dtype: int64

In [8]:
train_df.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]

In [9]:
train_df.isnull().sum().sum()

0

In [11]:
y = train_df.price_range
X = train_df.drop(columns=['price_range'], axis=1)

In [13]:
y.shape, X.shape, test_df.shape

((2000,), (2000, 20), (1000, 21))

In [14]:
X['Type'] = 'train_df'
test_df['Type'] = 'test_df'
data = X.append(test_df)

In [15]:
from sklearn.preprocessing import MinMaxScaler
minmaxscaler = MinMaxScaler()
X_scaled = X.copy()
for cols in X_scaled.columns:
  X_scaled[cols] = X_scaled[cols].min()

In [16]:
X_scaled.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi      Type
0            501     0          0.5  ...             0     0  train_df
1            501     0          0.5  ...             0     0  train_df
2            501     0          0.5  ...             0     0  train_df
3            501     0          0.5  ...             0     0  train_df
4            501     0          0.5  ...             0     0  train_df

[5 rows x 21 columns]

In [17]:
score_test = []
score_train = []
model = []

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [19]:
from sklearn.model_selection import train_test_split
X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled = train_test_split(X_scaled, y, test_size=0.2, random_state=2)

In [20]:
train_df.info

<bound method DataFrame.info of       battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]>

In [21]:
map(float, train_df)

In [22]:
results = [float(i) for i in train_df.drop(columns=['battery_power', 'blue', 'clock_speed',
                                                    'dual_sim', 'fc', 'four_g', 'int_memory',
                                                    'm_dep', 'mobile_wt', 'n_cores', 'pc',
                                                    'px_height', 'px_width', 'ram', 'sc_h', 'sc_w',
                                                    'talk_time', 'three_g', 'touch_screen', 'wifi',
                                                    'price_range'], axis=1)]
print(results)

[]

In [23]:
select_df = pd.DataFrame(train_df, columns=['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory', 'm_dep', 'mobile_wt',
                                            'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
                                            'touch_screen', 'wifi', 'price_range'])

In [24]:
select_df.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [25]:
pivot_table = pd.pivot_table(select_df, index=['four_g', 'three_g'])
pivot_table

                battery_power      blue  ...  touch_screen      wifi
four_g three_g                           ...
0      0          1229.473795  0.522013  ...      0.490566  0.503145
       1          1233.183333  0.454167  ...      0.497917  0.529167
1      1          1245.110259  0.501438  ...      0.511026  0.498562

[3 rows x 19 columns]

In [26]:
pivot_table.shape

(3, 19)

In [27]:
pivot_table.reset_index(inplace=True)
pivot_table

   four_g  three_g  battery_power  ...  talk_time  touch_screen      wifi
0       0        0    1229.473795  ...  11.427673      0.490566  0.503145
1       0        1    1233.183333  ...  11.127083      0.497917  0.529167
2       1        1    1245.110259  ...  10.767018      0.511026  0.498562

[3 rows x 21 columns]

In [28]:
pivot_table.shape

(3, 21)

In [29]:
pivot_table.sort_values('int_memory', ascending=False).reset_index()

   index  four_g  three_g  ...  talk_time  touch_screen      wifi
0      0       0        0  ...  11.427673      0.490566  0.503145
1      2       1        1  ...  10.767018      0.511026  0.498562
2      1       0        1  ...  11.127083      0.497917  0.529167

[3 rows x 22 columns]

In [30]:
pivot_table_agg = pd.pivot_table(select_df, index=['four_g', 'three_g'], aggfunc=['mean', 'sum'])
pivot_table_agg

                        mean                        ...       sum
               battery_power      blue clock_speed  ... talk_time touch_screen wifi
four_g three_g                                      ...
0      0         1229.473795  0.522013    1.589937  ...      5451          234  240
       1         1233.183333  0.454167    1.528125  ...      5341          239  254
1      1         1245.110259  0.501438    1.488591  ...     11230          533  520

[3 rows x 38 columns]

In [31]:
pivot_table.melt(id_vars=['four_g', 'three_g'])

    four_g  three_g       variable        value
0        0        0  battery_power  1229.473795
1        0        1  battery_power  1233.183333
2        1        1  battery_power  1245.110259
3        0        0           blue     0.522013
4        0        1           blue     0.454167
5        1        1           blue     0.501438
6        0        0    clock_speed     1.589937
7        0        1    clock_speed     1.528125
8        1        1    clock_speed     1.488591
9        0        0       dual_sim     0.522013
10       0        1       dual_sim     0.493750
11       1        1       dual_sim     0.511026
12       0        0             fc     4.295597
13       0        1             fc     4.472917
14       1        1             fc     4.240652
15       0        0     int_memory    32.350105
16       0        1     int_memory    31.416667
17       1        1     int_memory    32.197507
18       0        0          m_dep     0.507966
19       0        1          m_dep     0.496667
20       1        1          m_dep     0.501246
21       0        0      mobile_wt   140.150943
22       0        1      mobile_wt   141.564583
23       1        1      mobile_wt   139.688399
24       0        0        n_cores     4.580713
25       0        1        n_cores     4.602083
26       1        1        n_cores     4.455417
27       0        0             pc     9.930818
28       0        1             pc     9.972917
29       1        1             pc     9.883988
30       0        0    price_range     1.452830
31       0        1    price_range     1.512500
32       1        1    price_range     1.515820
33       0        0      px_height   669.821803
34       0        1      px_height   638.312500
35       1        1      px_height   636.932886
36       0        0       px_width  1251.245283
37       0        1       px_width  1245.085417
38       1        1       px_width  1254.598274
39       0        0            ram  2093.605870
40       0        1            ram  2138.120833
41       1        1            ram  2131.810163
42       0        0           sc_h    12.215933
43       0        1           sc_h    12.158333
44       1        1           sc_h    12.416107
45       0        0           sc_w     5.526205
46       0        1           sc_w     5.670833
47       1        1           sc_w     5.921381
48       0        0      talk_time    11.427673
49       0        1      talk_time    11.127083
50       1        1      talk_time    10.767018
51       0        0   touch_screen     0.490566
52       0        1   touch_screen     0.497917
53       1        1   touch_screen     0.511026
54       0        0           wifi     0.503145
55       0        1           wifi     0.529167
56       1        1           wifi     0.498562

In [32]:
pivot_table = pd.pivot_table(select_df, index=['four_g', 'three_g'])
pivot_table.unstack()

        battery_power                   blue  ... touch_screen      wifi
three_g             0            1         0  ...            1         0         1
four_g                                        ...
0         1229.473795  1233.183333  0.522013  ...     0.497917  0.503145  0.529167
1                 NaN  1245.110259       NaN  ...     0.511026       NaN  0.498562

[2 rows x 38 columns]

In [33]:
unstacked = pivot_table.unstack()
unstacked.stack()

                battery_power      blue  ...  touch_screen      wifi
four_g three_g                           ...
0      0          1229.473795  0.522013  ...      0.490566  0.503145
       1          1233.183333  0.454167  ...      0.497917  0.529167
1      1          1245.110259  0.501438  ...      0.511026  0.498562

[3 rows x 19 columns]

In [34]:
train_df.info

<bound method DataFrame.info of       battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]>

In [35]:
np.reshape(train_df, (2000, 21))

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0             842.0   0.0          2.2  ...           0.0   1.0          1.0
1            1021.0   1.0          0.5  ...           1.0   0.0          2.0
2             563.0   1.0          0.5  ...           1.0   0.0          2.0
3             615.0   1.0          2.5  ...           0.0   0.0          2.0
4            1821.0   1.0          1.2  ...           1.0   0.0          1.0
...             ...   ...          ...  ...           ...   ...          ...
1995          794.0   1.0          0.5  ...           1.0   0.0          0.0
1996         1965.0   1.0          2.6  ...           1.0   1.0          2.0
1997         1911.0   0.0          0.9  ...           1.0   0.0          3.0
1998         1512.0   0.0          0.9  ...           1.0   1.0          0.0
1999          510.0   1.0          2.0  ...           1.0   1.0          3.0

[2000 rows x 21 columns]

In [37]:
X = train_df.drop('price_range', axis=1)
y = train_df['price_range']

In [41]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [46]:
pd.DataFrame(list(map(np.ravel, train_df)))

                0
0   battery_power
1            blue
2     clock_speed
3        dual_sim
4              fc
5          four_g
6      int_memory
7           m_dep
8       mobile_wt
9         n_cores
10             pc
11      px_height
12       px_width
13            ram
14           sc_h
15           sc_w
16      talk_time
17        three_g
18   touch_screen
19           wifi
20    price_range

In [48]:
np.array(train_df)

array([[8.420e+02, 0.000e+00, 2.200e+00, ..., 0.000e+00, 1.000e+00,
        1.000e+00],
       [1.021e+03, 1.000e+00, 5.000e-01, ..., 1.000e+00, 0.000e+00,
        2.000e+00],
       [5.630e+02, 1.000e+00, 5.000e-01, ..., 1.000e+00, 0.000e+00,
        2.000e+00],
       ...,
       [1.911e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 0.000e+00,
        3.000e+00],
       [1.512e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.100e+02, 1.000e+00, 2.000e+00, ..., 1.000e+00, 1.000e+00,
        3.000e+00]])

In [49]:
np.array(train_df).shape

(2000, 21)

In [50]:
pd.DataFrame(sum(map(list, train_df), []))

     0
0    b
1    a
2    t
3    t
4    e
..  ..
143  r
144  a
145  n
146  g
147  e

[148 rows x 1 columns]